<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center;">
<table style="margin-left:30%;margin-top:5%;">
  <thead>
    <th>Name</th>
    <th style="margin-left: 40%;">Value</th>
    <th style="margin-left: 40%;">Description</th>
  </thead>
  <tbody>
    <tr *ngFor="let data of jsonData">
      <td style="margin-left: 40%;">{{data.label}}</td>
      <td style="margin-left:40%;">
        <div *ngIf="data.type === 'text'">
          <input type="text" value="{{data.value}}">
        </div>
        <div *ngIf="data.type === 'select'">
          <select>
            <option *ngFor="let option of data.options">
              {{option}}
            </option>
          </select>
        </div>
        <div *ngIf="data.type === 'check'">
          <input type="checkbox" value="true" checked>
        </div>
      </td>
      <td style="margin-left: 40%;">{{data.description}}</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="saveValues()">Save</button>

<router-outlet></router-outlet>
